.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.sectionContainer {
    border: 2px solid #c7c7c7;
    border-radius: 8px;
    min-width: 300px;
    overflow: hidden;
    overflow-y: auto;
}

.container-title {
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;
    padding: 20px 0 20px 20px;
}

.form-container {
    padding: 1rem;
}

form {
    width: 200px;
}

.inputContainer {
    margin-bottom: 4px;
}

label {
    margin-bottom: .5rem;
}

input {
    display: block;
    width: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

input.invalid {
    border-color: red;
}

.error {
    color: red;
    font-weight: bold;
}

.skillsTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.skillsTitle {
    margin: 0
}

.skillsInput {
    width: 70%;
}

.skillsButton {
    width: 25%;
    margin-left: 8px;
}

.userContainer {
    width: calc(100% - 300px);
    margin-left: 2rem;
}

.user {
    border: 1px solid #c7c7c7;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.userSkillsTitle {
    margin: .5rem 0 0 0;
}

.userSkillsContainer {
    display: flex;
    flex-wrap: wrap;
}

.userSkill {
    padding: 8px;
}

.userButtonContainer {
    margin-top: 2rem;
    button {
        margin-right: .5rem;
    }
}